:root {
    --secondary-color: rgb(255, 255, 255);
    --highlight-color: rgb(255, 0, 127);
    --text-light: rgba(255, 255, 255, 0.548);
    --selected-day: rgb(232, 61, 115);
}

@font-face {
    font-family: 'Roboto';
    src: url('Fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url('Pictures/background.png');
    background-size: cover; 
    background-position: center;
    color: var(--secondary-color);
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-direction: column;
    user-select: none;
    
}


.container {
    background: linear-gradient(135deg, rgba(153, 12, 54, 0.8), rgba(100, 5, 35, 0.8));
    width: 920px;
    height: 500px;
    display: flex;
    align-items: center;
    border-radius: 25px;
}

.image {
    width: 370px;
    height: 500px;
    margin-right: 20px;
    position: relative;
    border-radius: 25px 0px 0px 25px;
    pointer-events: none;
    object-fit: cover;
    object-position: center;
}

.links {
    padding: 10px;
}

.links h2 {
    color: var(--text-light);
    margin-top: 20px;
    font-size: 0.85em;
}

.links a {
    background-color: rgba(23, 24, 28, 0.502);
    color: var(--secondary-color);
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;  
    margin-right: 10px; 
    font-size: 1em;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid var(--highlight-color);
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.calendar-text {
    font-size: 15px;
    padding: 0px 12px 0px 0px ;
    margin: 0px 0px 20px;
    color: var(--secondary-color);
    border-radius: 10px;
    text-align: center;
    border: 1px solid var(--highlight-color);
    background-color: rgba(23, 24, 28, 0.502);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: inline-block;
    user-select: none;
    vertical-align: middle;
    position: relative;
}

.calendar-text img {
    width: 22px;
    height: 22px;
    cursor: pointer;
    left: 0px;
    border-right: 1px solid var(--highlight-color);
    background-color: rgba(23, 24, 28, 0.685);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 5px;
    margin-right: 5px;
    border-radius: 10px 0px 0px 10px;
    position: relative;
    vertical-align: middle;
    user-select: none;
    -webkit-user-drag: none;
}

.container {
    position: relative;
    overflow: hidden; 
}

.calendar {
    overflow: hidden;
    position: absolute;
    top: 145px; 
    left: 10px;
    right: 10px;
    background: linear-gradient(135deg, rgba(153, 12, 54, 0.8), rgba(100, 5, 35, 0.8)), rgba(23, 24, 28, 0.925);
    box-shadow: 10px 4px 15px rgba(0, 0, 0, 0.3);
    color: var(--secondary-color);
    padding: 10px;
    border-radius: 25px;
    width: 320px;
    text-align: center;
    z-index: 10; 
    transform: translateY(1000px);
    opacity: 0;
    filter: blur(15px);
    transition: transform 1.2s ease, opacity 0.9s ease, filter 0.5s ease;
}

.calendar.show-calendar {
    transform: translateY(0); 
    opacity: 1;
    filter: blur(0px);
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    font-size: 17px;
    
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.calendar-days span {
    font-size: 16px;
    text-align: center;
    padding: 10px 0; 
    color: var(--secondary-color);
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    justify-items: center;
}


.day {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border-radius: 50%;
    border: 1px solid transparent; 
    transition: border-color 0.2s ease-in-out, background 0.2s ease-in-out;
}


.prev-month, .next-month {
    color: var(--text-light);
}


.day:hover {
    font-size: 16px;
    font-weight: bold;
    color: var(--selected-day);
    background: transparent;
    cursor: pointer;
}


.selected-day {
    background-color: rgba(23, 24, 28, 0.502);
    color: var(--secondary-color);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 1px solid var(--highlight-color); 
    outline-offset: 2px; 
}

.other-month {
    color: rgba(255, 255, 255, 0.3);
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.selected-day:hover {
    font-weight: normal; 
    font-size: 14px;
    color: var(--secondary-color);
    background: rgba(23, 24, 28, 0.502);
    cursor: initial;
}

.month-container {
    display: flex;
    align-items: center;

}

.year-container {
    display: flex;
    align-items: center;
}

.arrow {
    width: 25px;
    height: 25x;
    cursor: pointer;
    transition: transform 3s ease;
    margin: 5px;
    user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    
}

.arrow:hover {
    transform: scale(1.2);
    
}

.arrow img {
    pointer-events: none;
}

.month-name, .year-number {
    color: var(--secondary-color);
}

#date {
    font-size: 1em;
    color: var(--secondary-color);
    white-space: nowrap;
    display: inline-block; 
    vertical-align: middle; 
    font-weight: 100;
}

.header {
    display: flex;
    align-items: center;
    gap: 15px;
}

.user-info {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 1.3em; 
    font-weight: 550;
}

.username {
    font-size: 1em;
    color: var(--text-light); 
}

